Element
GIMP
Kvantum
SunVox
autostart
btop
cataclysm-dda
dconf
duplicity/parameters.sh
fzf/*
gcolor3
gtk-2.0
gtk-3.0
gtk-4.0
khal
libreoffice
mako
matray
mimeapps.list
mpd/database
mpv
msmtp/config
mutt/certificates
mutt/account-*.rc
mutt/*.gpg
ncmpcpp/error.log
neofetch
orca.conf
pamac
pavucontrol.ini
pulse
qt5ct
ranger/plugins/__init__.py
ranger/plugins/__pycache__
rclone/rclone.conf
silver
syncthing
systemd
unity3d
user-dirs.dirs
user-dirs.locale
zsh/.histfile
zsh/.zcompdump
zsh/plugins/*
