Orca
SunVox
dconf
enchant
eog
evolution
fzf/*
gedit
gnome-initial-setup-done
gtk-3.0
ibus
libreoffice
mimeapps.list
monitors.xml
mpd/database
mutt/certificates
mutt/account-*.rc
mutt/*.gpg
ncmpcpp/error.log
orca.conf
pulse
qalculate
ranger/plugins/__init__.py
ranger/plugins/__pycache__
systemd
user-dirs.dirs
user-dirs.locale
zsh/.histfile
zsh/.zcompdump
zsh/plugins/*
terminology/config/standard/base.cfg
gh/*
